<div class="container text-center" >
<div class="row">
	<div class="col">
		<%= image_tag("keyboard/w_image.png") %>
		WASD
	</div>
	<div class="col">
	Teclas de Movimiento
	</div>
</div>
<div class="row">
	<div class="col">
		E
	</div>
	<div class="col">
		Menu para Objetos
	</div>
</div>
<div class="row">
	<div class="col">
		Space
	</div>
	<div class="col">
		Saltar / Volar
	</div>
</div>
<div class="row">
	<div class="col">
		P
	</div>
	<div class="col">
		Pausar dia
	</div>
</div>
<div class="row">
	<div class="col">
		Q
	</div>
	<div class="col">
		Colapsa menu de objetos
	</div>
</div>
<div class="row">
	<div class="col">
		C
	</div>
	<div class="col">
		Bajar mientras vuelas
	</div>
</div>
<div class="row">
	<div class="col">
		Click derecho
	</div>
	<div class="col">
		Rotar objeto
	</div>
</div>
<div class="row">
	<div class="col">
		Click izquierdo
	</div>
	<div class="col">
		Colocar objeto
	</div>
</div>
<div class="row">
	<div class="col">
		R 
	</div>
	<div class="col">
		Modo Remover objetos
	</div>
</div>
</div>